extends layout 

block layout-content  
 h1 About Toronto Library
 p Welcome to the Toronto Library. 
 p This institute has been long running in the GTA area allowing access to various books and materials needed for its residents in their academia and day to day life.