extends layout

block layout-content
  h1 ALL BOOKS
  a.add-book(href="/admin/books/add") Add New Book

  ul
    each book in menu
      li.book-item
        p.book-link #{book.title} - by #{book.author}
        form.delete-form(method="get", action="/admin/books/delete")
          input(type="hidden", name="bookId", value=book._id)
          button(type="submit") Delete
        form.edit(action="/admin/books/edit")
          input(type="hidden", name="bookId", value=book._id)
          button.edit-button(type="submit") Edit

